In [1]:
import pandas as pd

In [10]:
df = pd.read_csv('merge_x02')

In [11]:
df

,sid,ts,x_s,y_s,z_s,vx_s,vy_s,vz_s,x_e,y_e,z_e,vx_e,vy_e,vz_e
0,4,10711982604815750,28866,-20120,1538,3780,-8312,4075,28919,-20359,1335,3372,-9162,-2161
1,8,10711987059961162,-7298,-10083,-143,-4661,3618,-8073,-7301,-10084,-149,5359,3263,-7786
2,10,10711990461551030,-5081,15921,-863,2707,5764,-7709,-5089,15922,-835,-4665,8780,1068
3,4,10712080213767842,28920,-20362,1332,3507,-9073,-2317,28947,-20617,1131,1938,-8598,-4723
4,8,10712089459194109,-7300,-10084,-149,7359,2043,-6454,-7303,-10083,-121,861,-2958,9513
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2471,8,10749874776400736,-7285,-10084,-216,-1393,-6820,-7178,-7284,-10088,-231,1602,808,-9837
2472,4,10749884161411547,26202,-155,751,-5366,6564,-5301,26191,-167,699,740,5028,-8611
2473,23,10749889141361888,26295,-9045,383,-888,-6727,7345,26443,-9084,175,2823,-9339,-2192
2474,10,10749900638994749,-5276,15895,1020,-1773,-9225,3426,-5279,15896,1034,8877,-2944,-3539
2475,13,10749910953870202,26258,-28299,475,-4780,1328,8682,26220,-28282,612,645,3916,9178

In [19]:
print([df[a].max() -df[a].min() for a in df.columns])
print([df[a].min() for a in df.columns])

[102, 37928349054452, 45229, 66764, 4428, 19962, 19998, 19998, 45240, 66769, 4458, 19980, 19992, 19993]
[4, 10711982604815750, -7331, -31164, -1399, -9999, -9999, -9999, -7331, -31164, -1391, -9990, -9993, -9997]

In [17]:
[50000, 70000, 7000, 20000, 20000, 20000] * 2

[50000,
 70000,
 7000,
 20000,
 20000,
 20000,
 50000,
 70000,
 7000,
 20000,
 20000,
 20000]